<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- bean definitions here -->
	<bean class="com.controller.UserController" id="uc"></bean>

	<bean class="com.bean.UserBean" id="uBean">
		<property name="email" value="tejas@gmail.com"></property>
	</bean>

	<bean class="com.bean.AddressBean" id="addrBean" init-method="init" destroy-method="destroy"  ></bean>
	<bean class="com.bean.StudentBean" id="studBean">
		<constructor-arg ref="addrBean"></constructor-arg>
	</bean>
	
	<bean class="com.bean.PolicyBean" id="pBean"></bean>
	<bean class="com.bean.EmployeeBean" id="empl">
		<property name="policyBean" ref="pBean"></property>
	</bean>
</beans>